body {
    font-family: "Poppins", sans-serif;
    background-color: #f0f4f8; /* Fundo claro como na homepage e login */
    color: #333;
}

.card {
    border: none;
    border-radius: 8px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card h2 {
    color: #004d99; /* Azul escuro para o título */
}

.btn-primary {
    background-color: #0056b3;
    border: none;
    color: #fff;
    transition: background-color 0.3s ease;
}

.btn-primary:hover {
    background-color: #004080;
}

.hidden {
    display: none;
}

#btnLogin {
    margin-top: 5px;
}

input {
    margin: 5px 0;
}

.text-danger {
    color: #ff4d4d; /* Vermelho para os avisos de erro */
}
